@import "src/styles/vars.scss";

.inputWrapper {
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.error {
        & > .inputContainer {
            border-color: $color-danger;
        }
        
        color: $color-danger;
    }
}

.focus {
    color: $color-main;

    & > .inputContainer {
        border: 2.5px solid;
        border-color: $color-main;
        color: $color-main;
    }
}

.inputContainer {
    border: 1px solid $color-secondary;
    padding: 0 0.5rem;
    height: 4.5rem;
    border-radius: 4px;
    color: $color-secondary;
    margin-bottom: 0.5rem;
    display: flex;
    transition: border 200ms linear;
    background-color: #fff;

    @media (hover: hover) {
        &:hover {
            border-color: $color-main;
        }
    }
}

.readonly {
    cursor: pointer !important;
}


.input {
    border: none;
    background-color: transparent;
    flex: 1;
    padding: 0 0.5rem;

    &:read-only {
        cursor: pointer;
    }
}

.inputChip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}
