.container {
    background-color: #fff;
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 0;
}

.showcaseItem {
    width: 40rem;

    @media only screen and(max-width: 450px) {
        width: 95%;
    }
}
