@import "src/styles/vars.scss";

.cardHeader {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1rem;
    width: 100%;
}

.closeWrapper {
    display: flex;
    justify-content: flex-start;
}

.close {
    $background: #ddd;
    background-color: $background;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    margin: 0.5rem;
    margin-bottom: 0;

    transition: border 150ms linear;
    @media (hover: hover) {
        &:hover {
            border-color: #464646;
        }
    }

    &:active {
        background-color: darken($background, 5);
    }
}

.closeIcon {
    color: #464646;
    stroke-width: 1px;
}

.titles {
    text-align: center;
}
