@import "src/styles/vars.scss";

.login {
    display: flex;
    flex-direction: column;
}

.header {
    align-self: center;
}

.navAuth {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noUserText {
    margin-bottom: 0.5rem;
}
