.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    height: 35rem;
    width: 45rem;
    justify-self: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
