@import "src/styles/vars.scss";

.registerLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-main;
    cursor: pointer;
}

.text {
    font-size: 1.8rem;
}
