@import "src/styles/vars.scss";

.button {
    background-color: $color-main;
    border: 1px solid $color-main;
    color: $color-inverse;
    min-width: 12rem;
    width: 100%;
    height: 4.5rem;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem;
    transition: background 150ms linear;
    font-weight: 400;

    &:active {
        opacity: 0.9;
    }
}

/* Variants */

.danger {
    border-color: $color-danger;
    background-color: $color-danger;
}

.success {
    border-color: $color-success;
    background-color: $color-success;
}

.secondary {
    background-color: $color-inverse;
    border-color: $color-secondary;
    color: $text-color;

}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        border-color: $color-main-darker;
        background-color: $color-main-darker;
    }

    .danger:hover {
        border-color: $color-danger-lighter;
        background-color: $color-danger-lighter;
    }

    .success:hover {
        border-color: $color-success-lighter;
        background-color: $color-success-lighter;
    }

    .secondary:hover {
        border-color: $color-secondary;
        background-color: $color-inverse-hover;
    }
}
