@import "src/styles/vars.scss";

.option {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
    color: $color-secondary;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: rgba($color-main, 0.08);
    }
}

.optionSelected {
    background-color: $color-main-opacity-background;
    color: $color-main;
}
