@import "src/styles/vars.scss";

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: $color-main;
}

.authCard {
    width: 60rem;
    display: flex;
    justify-content: center;
}
