@import "src/styles/vars.scss";

.logo {
    display: flex;
    align-items: center;
    // background-color: #ebebeb;
    padding: 1rem;
    width: 100%;
}

.logoImage {
    height: 50px;
}

.logoText {
    color: $color-main;
    font-size: 2.5rem;
    margin-right: 1rem;
}
