@import "src/styles/vars.scss";

.logo {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 1rem;
    color: scolor-inverse;
}

.logoImage {
    height: 50px;   
}

.logoText {
    color: $color-inverse;
    font-size: 2.5rem;
    margin-right: 1rem;
}
