$color-main: #486974;
$color-main-lighter: #5a818f;
$color-main-opacity-background: rgba($color-main, 0.16);
$color-secondary: #808080;
$color-header: #585858;
$color-danger: #d13232;
$color-danger-lighter: #de3535;
$color-danger-opacity-background: rgba($color-danger, 0.16);
$color-success: #188e08;
$color-success-lighter: #1fab0c;
$color-inverse: #fff;
$color-inverse-hover: #f8f8f8;
$shadow-main: 0px 3px 6px $color-main-opacity-background;
